**/*.o
**/*.a
**/Makefile
**/.deps
**/*.ps
**/*.1
**/*.5
**/*.7
**/*.zmt
**/*.zmr
**/*.gz
**/*.html
config*
aclocal.m4
src/zoem
doc/zum.prm
doc/stamp.*
slate
autom4te.cache
autofoo/compile
**/Makefile.in
VERSION
mylist
